/* Algemeen */
* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    scrollbar-gutter: stable;
}

:root {
    /* 'Lees meer'-knop */
    .MeerNieuws-ad {
        text-decoration: none;
        border: 1px solid transparent;

        &:hover {
            outline: 2px solid var(--primary-color);
        }
        &:active{
            outline-offset: 0;
            border: 1px solid var(--primary-color);
        }
        &:focus {
           background: var(--primary-lighter-color);
           color: var(--primary-color);
           outline-offset: 0;
        }
    }
}

/* Nieuws artikelen filter */
.news-articles-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    background-color: var(--primary-color);
    padding: 1em;

    & button {
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        padding: 1em;
        color: var(--primary-lighter-color);
        background-color: transparent;
        border: transparent;

        &:hover:not(.active) {
            text-decoration: 2px solid underline;
            text-underline-offset: 0.2em;
        }
    }
}

/* Als een filterknop actief is */
.filter-btn.active {
    background-color: var(--primary-lighter-color);
    color: var(--primary-color);
    border-radius: 5px;
    pointer-events: none;
}

/* Nieuws artikelen */
ul {
    padding: 1.5em;
    display: grid;
    list-style-type: none;
    gap: 1.5em;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    & article {
        border: 3px solid var(--primary-color);
        border-radius: 5px;
        box-shadow: 4px 4px 7px rgba(121, 121, 121, 0.459);
        

        & img {
            width: 100%;
            height: 15em;
            object-fit: cover;
            object-position: top;
        }

        & .text-and-button-inside-article {
            display: grid;
            padding: 1em;
            gap: 0.5em;

            & p {
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;

                @media (min-width: 600px) {
                    -webkit-line-clamp: 3;
                }
            } 

            & .MeerNieuws-ad {
                margin-top: 1em;
                width: fit-content;
                justify-self: center;

            }
        }
    }
}
